__pycache__/
*.pyc
runs/
runs_all.log
.pytest_cache/
paper/*.aux
paper/*.log
paper/*.out
paper/*.bbl
paper/*.blg
paper/main.pdf
results/**/*.log
paper/icc/*.aux
paper/icc/*.log
paper/icc/*.out
paper/icc/*.bbl
paper/icc/*.blg
paper/nl/*.aux
paper/nl/*.log
paper/nl/*.out
paper/nl/*.bbl
paper/nl/*.blg
dist/
paper/nl/supp/*.aux
paper/nl/supp/*.log
paper/nl/supp/*.out
paper/nl/supp/*.bbl
paper/nl/supp/*.blg
